@font-face
{
    src: url(font/FredokaOne-Regular.ttf);
    font-family: fredokaOneRegular;
}

body
{
    background-image: url(img/road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

/*______________Nav Bar___________start*/

.nav-wrapper
{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: fredokaOneRegular, sans-serif;
}

.nav-left-side
{
    display: grid;
    place-items: center;
}

.nav-left-side ul
{
    color: white;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav-left-side ul > li
{
    float: left;
    background-color: black;
    width: 125px;
    height: 40px;
    opacity: 0.7;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

.nav-left-side ul > li > a
{
    color: white;
    text-decoration: none;
    display: block;
}

.nav-left-side ul > li > a:hover
{
    background-color: green;
}

.nav-left-side ul > li > ul > li
{
    display: none;
}

.nav-left-side ul > li:hover ul > li
{
    display: block;
}

.nav-middle h1
{
    font-weight: 100;
    color: white;
}

.nav-right-side
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right-side > div
{
    margin-left: 15px;
}

.nav-link-wrapper
{
    border-bottom: 1px solid transparent;
    transition: 500ms;
}

.nav-link-wrapper:hover
{
    border-bottom: 1px solid white;
}

.nav-link-wrapper a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
    text-align: center;
    display: grid;
    place-items: center;
    width: auto;
    height: 30px;
}

.active-nav-link
{
    border-bottom: 1px solid white !important;
}

/*________________Nav Bar______________end*/

/*______________Home Content___________start*/
.home-content
{
    background-color: white;

    /* paraméter: x-tengely mozgatás, y-tengely, homályosítás */
    box-shadow: 5px 5px 5px #cbcbcb;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: sans-serif;
}

.home-content h2
{
    color: orange;
    font-weight: normal;
}

/*______________Home Content___________end*/

/*______Footer & Horizontal Line____start */
hr
{
    position: relative;
    top: 540px;
}

.footer-style
{
    display: flex;
    justify-content: right;

    font-family: sans-serif;
    margin-top: 550px;
    color: lightseagreen;
}

#change-text-style
{
    margin-right: 10px;
    color: rgb(139, 139, 139);
}

/*______Footer & Horizontal Line_____end */

/*___________About page____________start*/

.about-text-img-content-wrapper
{
    /*display: grid;
    grid-template-columns: 1fr 1fr;*/

    display: flex;
    justify-content: center;
    align-items: center;

    height: 900px;
}

.about-content-social-link-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;
}

.about-content
{
    background-color: white;

    /* paraméter: x-tengely mozgatás, y-tengely, homályosítás */
    box-shadow: 5px 5px 5px #cbcbcb;
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;

    padding: 20px;
    width: 100%;
    height: 620px;

    position: relative;
    bottom: 80px;
    left: 200px;
}

.about-content h2
{
    color: orange;
    font-weight: normal;
}

.social-link-wrapper
{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 400px;
    right: 100px;
}

.social-link-wrapper a
{
    display: grid;
    place-items: center;
    text-decoration: none;
    height: 100px;
    width: 100px;
    background-color: #f5f6fa;
    border-radius: 100px;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
    width: 150px;
    height: 150px;
    outline: none;
}

.social-link-wrapper a i
{
    transition: all 500ms linear;
}

.social-link-wrapper a:hover i
{
    transform: scale(1.4);
}

.fa-facebook-f
{
    color: #0d2fc7;
}

.fa-linkedin-in
{
    color: #0097e6;
}

.fa-instagram
{
    color: #e84393;
}

.fa-twitter
{
    color: #0097e6;
}

.img-content
{
    text-align: center;
    width: 100%;
    height: 600px;

    position: relative;
    bottom: 100px;
    right: 350px;
}

.img-content img
{
    position: relative;
    bottom: 30px;
    width: 500px;
    height: 700px;

    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px #999;
}

.about-horizontal-line-positioning
{
    position: relative;
    top: 80px;
}

.about-footer-style-positioning
{
    margin-top: 90px;
}

/*___________About page____________end*/

/*___________Contact page____________start*/

.contact-content
{
    font-family: sans-serif;
}

.contact-form
{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text
{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 20px 40px;
    border: 0;
    background-color: rgb(66, 66, 66);
    color: white;

    /* Az outline none, miatt nem fog megjelenni a kijelölő szaggatott margó. */
    outline: none;
    transition: 500ms;
}

.contact-form-text:focus
{
    box-shadow: 0 0 10px lightseagreen;
}

textarea.contact-form-text
{
    resize: none;
    height: 120px;
}

.contact-form-btn
{
    float: right;
    border: none;
    background-color: lightseagreen;
    color: white;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 500ms;
}

.contact-form-btn:hover
{
    background-color: teal;
}

.contact-horizontal-line-positioning
{
    position: relative;
    top: 265px;
}

.contact-footer-style-positioning
{
    margin-top: 275px;
}

.contact-info
{
    color: lightseagreen;
    position: relative;
    bottom: 30px;

    text-transform: uppercase;
}

/*___________Contact page____________end*/